@width: 300px;
@height: @width / 2;
@color: #f00;
@imgPath: './images/my.jpg';
.header {
	width: @width;
	height: @height;
	color: @color;
	background-image: url(@imgPath);
	background-size: cover;
}
