/* cnpm install sass-loader@7.3.1 --save-dev */
body {
	background-color: lightgray;
}

/* img {
	width: 300px;
	height: 150px;
}
 */
.img-bg {
	width: 200px;
	height: 200px;
	background-image: url(./images/my.jpg);
	background-size: cover;
	transform: rotate(90deg);
		border-radius: 10px;
}
.img{
	width: 100%;
}
img[lazy=loading] {
  width: 400px;
  height: 300px;
  margin: auto;
}
ul, li,
ul li img{width: 100%;}
/* 自动添加css3前缀
1、npm install -D postcss-loader autoprefixer 
2、在根目录下添加文件postcss.config.js
*/
